{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services 4 start -->
<div class="services services-4 content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our Services</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-sell"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>Security</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>01</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-furniture-and-household"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>Air conditioning</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>02</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-car"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>Garages</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>03</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-cart"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>Commercial</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>04</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-gym"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>Apartments Clean</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>05</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-car"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>Gym</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>06</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-trust"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>Trusted Agents</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>07</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-alarm"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>Alarm</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>08</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-technology"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>Wifi</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>09</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services 4 end -->

<!-- Counters 2 strat -->
<div class="counters-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 border-r border-l">
                <div class="counter-box-2">
                    <i class="flaticon-sale"></i>
                    <h1 class="counter">967</h1>
                    <p>Listings For Sale</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-r">
                <div class="counter-box-2">
                    <i class="flaticon-rent"></i>
                    <h1 class="counter">1276</h1>
                    <p>Listings For Rent</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-r">
                <div class="counter-box-2">
                    <i class="flaticon-user"></i>
                    <h1 class="counter">396</h1>
                    <p>Agents</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-r">
                <div class="counter-box-2">
                    <i class="flaticon-broker"></i>
                    <h1 class="counter">177</h1>
                    <p>Brokers</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters 2 end -->

<!-- Services start -->
<div class="services content-area content-area-12">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Professional Services</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                
                
                {% for pro in professionalservices %}
                <div class="slick-slide-item">
                    <div class="card service-box">
                        <img class="card-img-top" src="{{pro.professionalservices_image.url}}" alt="service">
                        <div class="card-body detail">
                            <div class="heading clearfix">
                                <div class="number">
                                    <h5>01</h5>
                                </div>
                                <div class="title">
                                    <h4><a href="#">{{pro.professionalservices_title}}</a></h4>
                                </div>
                            </div>
                            <p>{{pro.professionalservices_sentence}}</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% comment %} <div class="slick-slide-item">
                    <div class="card service-box">
                        <img class="card-img-top" src="{% static 'web/img/service/service-2.jpg' %}" alt="service">
                        <div class="card-body detail">
                            <div class="heading clearfix">
                                <div class="number">
                                    <h5>02</h5>
                                </div>
                                <div class="title">
                                    <h4><a href="#">Security</a></h4>
                                </div>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="card service-box">
                        <img class="card-img-top" src="{% static 'web/img/service/service-1.jpg' %}" alt="service">
                        <div class="card-body detail">
                            <div class="heading clearfix">
                                <div class="number">
                                    <h5>03</h5>
                                </div>
                                <div class="title">
                                    <h4><a href="#">Room Service</a></h4>
                                </div>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="card service-box">
                        <img class="card-img-top" src="{% static 'web/img/service/service-4.jpg' %}" alt="service">
                        <div class="card-body detail">
                            <div class="heading clearfix">
                                <div class="number">
                                    <h5>04</h5>
                                </div>
                                <div class="title">
                                    <h4><a href="#">Support 24/7</a></h4>
                                </div>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton-2 sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton-2 sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->

{% comment %} <!-- Testimonial 5 start -->
<div class="testimonial-5 comon-slick content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Testimonial</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="slick row comon-slick-inner" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 1}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            <div class="item slide-box">
                <div class="testimonial-item-new">
                    <div class="author-img fix">
                        <div class="author-avatar">
                            <img src="{% static 'web/img/avatar/avatar-1.jpg' %}" alt="testimonial-5">
                            <div class="icon">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="author-content">
                        <h5 class="left-line pl-40">Somalia Silva, <span class="desig">Director</span></h5>
                    </div>
                    <p>But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="testimonial-item-new">
                    <div class="author-img fix">
                        <div class="author-avatar">
                            <img src="{% static 'web/img/avatar/avatar-2.jpg' %}" alt="testimonial-5">
                            <div class="icon">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="author-content">
                        <h5 class="left-line pl-40">Michelle Nelson, <span class="desig">Consultant</span></h5>
                    </div>
                    <p>But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="testimonial-item-new">
                    <div class="author-img fix">
                        <div class="author-avatar">
                            <img src="{% static 'web/img/avatar/avatar-3.jpg' %}" alt="testimonial-5">
                            <div class="icon">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="author-content">
                        <h5 class="left-line pl-40">Carolyn Stone, <span class="desig">Designer</span></h5>
                    </div>
                    <p>But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial 5 end --> {% endcomment %}

<!-- Testimonial 4 start -->
      <div class="testimonial-4 comon-slick content-area-5">
        <div class="container">
          <!-- Main title -->
          <div class="main-title-3">
            <p>Testimonials</p>
            <h1>Customer <span>Reviews</span></h1>
          </div>
          <div
            class="slick row comon-slick-inner"
            data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'
          >
            {% for i in Testimonial %}

            <div class="item slide-box">
              <div class="testimonial-info">
                <div class="user-section">
                  <div class="user-thumb">
                    <img
                      src="{{i.Testimonial_image.url}}"
                      alt="testimonial"
                    />
                    <div class="icon">
                      <i class="fa fa-quote-right"></i>
                    </div>
                  </div>
                  <div class="user-name">
                    <h5>{{i.Testimonial_name}}</h5>
                    <p>{{i.Testimonial_profession}}</p>
                  </div>
                </div>
                <div class="text">
                  <p>
                    {{i.Testimonial_sentence}}
                  </p>
                </div>
                
              </div>
            </div>
              {% endfor %}

            {% comment %} <div class="item slide-box">
              <div class="testimonial-info">
                <div class="user-section">
                  <div class="user-thumb">
                    <img
                      src="{% static 'web/img/avatar/avatar-2.jpg' %}"
                      alt="testimonial"
                    />
                    <div class="icon">
                      <i class="fa fa-quote-right"></i>
                    </div>
                  </div>
                  <div class="user-name">
                    <h5>Anne Brady</h5>
                    <p>Web Designer, Uk</p>
                  </div>
                </div>
                <div class="text">
                  <p>
                    "Bitcoin is one of the most important inventions in all of
                    human history. For the first time ever, anyone can send or
                    receive any amount of money .Lorem ipsum dolor sit amet
                    consectetur adipisicing elit."
                  </p>
                </div>
              </div>
            </div>
            <div class="item slide-box">
              <div class="testimonial-info">
                <div class="user-section">
                  <div class="user-thumb">
                    <img
                      src="{% static 'web/img/avatar/avatar-3.jpg' %}"
                      alt="testimonial"
                    />
                    <div class="icon">
                      <i class="fa fa-quote-right"></i>
                    </div>
                  </div>
                  <div class="user-name">
                    <h5>Carolyn Stone</h5>
                    <p>Designer</p>
                  </div>
                </div>
                <div class="text">
                  <p>
                    "Bitcoin is one of the most important inventions in all of
                    human history. For the first time ever, anyone can send or
                    receive any amount of money .Lorem ipsum dolor sit amet
                    consectetur adipisicing elit."
                  </p>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      <!-- Testimonial 4 end -->


{% endblock %}